
.headerTitle{
    font-family: 'Pattaya', sans-serif !important;
    font-size: 3vw !important;
    color: #4592af;
    
}
.titleOrders{
    font-family: 'Pattaya', sans-serif !important;
}
.navBar{
    background-color:#000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #4592af;
}

.MuiPaper-elevation1 {
   
    display: inline-block;
}
.iconWifi{
    font-size: 2vw;
    color: #4592af;
}
/* .appBody{
   margin-top: 100px;
}   */

.grid1{
    border: 1px solid #4592af;
}
input {
   
    text-align: center ;
}
body{
    background-color: #e3c4a8;
}
.iconText{
    text-decoration: none;
}
 .order .order-empty {
    text-align: center;
    margin: 98px;
    color: #7fbdd481;
}
 .order .order-empty .fa {
    font-size: 64px;
}
.order .order-empty h1 {
    font-size: 20px;
}